<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @DigitalStampRally.Models.AppConst.AppName</title>

    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DigitalStampRally.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <partial name="_BrandLogo" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="py-4">
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-start gap-3">
                <div>
                    <partial name="_BrandLogo" />
                    <div class="small text-secondary">
                        小規模イベント向け・無料・登録不要のデジタルスタンプラリー作成ツール
                    </div>
                </div>

                <div class="small">
                    <div class="d-flex flex-wrap gap-3">
                        <!-- TODO: 実際のページに変更 -->
                        <a class="text-decoration-none" href="/Terms">利用規約</a>
                        <a class="text-decoration-none" href="/Privacy">プライバシーポリシー</a>
                        <a class="text-decoration-none" target="_blank" href="/Contact">お問い合わせ</a>
                    </div>
                    <div class="text-secondary mt-2">© @DateTime.Now.Year @DigitalStampRally.Models.AppConst.AppName</div>
                </div>
            </div>
        </div>
    </footer>


    @* <footer class="border-top footer text-muted">
        <div class="container">
            © @DateTime.Now.Year @DigitalStampRally.Models.AppConst.AppName

            <div class="mt-2">
                <a asp-page="/Terms">利用規約</a> |
                <a asp-page="/Privacy">プライバシーポリシー</a> |
                <a asp-page="/Contact">お問い合わせ</a>
            </div>
        </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>